.cell {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;	
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cell:hover .image {
  opacity: 0.3;
  cursor: default;
}

.cell:hover .middle {
  opacity: 1;
  cursor: default;
}

.text {
  color: #000;
  font-size: 16px;
  padding: 16px 32px;
}